h1, h2{
  font-family: 'Bebas Neue', cursive;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
p{
  font-family: 'Roboto', sans-serif;
}
header p{
  font-weight: bold;
}
h1{
  font-size: 75px;
}
h2{
  font-size: 50px;
}
nav{
  padding-top: 25px;
}
nav img{
  width: 350px;
}
nav a{
  text-decoration: none;
  color: #363958;
  font-weight: 700;
}
.half-width{
  float: left;
  width: 45%;
}
#banner img{
  width: 100%;
  margin-left: 20%;
}
.extra-margin{
  margin-top: 100px;
}
.yellow-highlight{
  color: #FABE4C;
}
.navy-highlight{
  color:#363958;
}
header{
  background-color: #FFFBF0;
}
.section{
  height: 650px;
}
.my-btn{
  display: inline-block;
  background-image: linear-gradient(180deg, #A4BC46, #85A019);
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
.top-margin{
  margin-top: 50px;
}
.product-img-div{
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}
.single-card{
  border-radius: 10px;
  width: 335px;
  height: 500px;
}
.single-card img{
  width: 100%;
  height: 100%;
  background-color: lightgray;
  border-radius: 10px;
}
.card-foter h2{
  float: left;
}
.card-foter a{
  float: right;
}
#about-us img{
  width: 100%;
}
.single-card-2{
  width: 500px;
  height: 140px;
  border-radius: 10px;
}
.img-div{
  width: 100px;
  height: 100px;
}
.details-div{
  width: 70%;
  margin-left: 40px;
  margin-top: 10px;
}
.floating-div{
  float: left;
}
#bottom-img{
  width: 100px;
  margin-left: 105px;
}
.lightgreen-bg{
  background-color: #f2ffce;
  border-radius: 10px;
  height: 300px;
}
#contact-us{
  margin-top: 80px;
}
footer{
  text-align: center;
  margin-top: 100px;
}
@media only screen and (max-width: 480px){
  nav img{
    width: 190px;
  }
  h1{
    font-size: 74px;
  }
  p{
    font-size: 12px;
    margin-right: 70px;
  }
  .half-width{
    float: none;
    width: 100%;
  }
  #banner img{
    width: 90%;
    margin-left: 0px;
    margin-top: 60px;
  }
  .section{
    height: 980px;
  }
  #woman-jacket{
    margin-top: 80px;
  }
  .section-title{
    text-align: center;
  }
  .set-flex-direction{
    flex-direction: column;
    align-items: center;
  }
  #man-jacket{
    margin-top: 820px;
  }
  #about-us{
    margin-top: 820px;
  }
  .single-card-2{
    width: 400px;
    height: 220px;
  }
  .set-display{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .extra-flex-style{
    flex-direction: column-reverse;
  }
  #bottom-img{
    margin-left: 0px;
  }
  .extra-margin-mediaQ{
    margin-top: 70px;
  }
  footer{
    font-size: 11px;
    font-weight: bold;
  }    
}